@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:b");
:root {
  --white: #e9e9e9;
  --blue: #008CBA;
  --blue-r: #315a7491;
  --lightblue: #4682B4;
  --navy:  #000080;
  --lightyellow: #fafad2;
  --button-radius: 0.8rem;
  --max-width: 700px;
  --max-height: 390px;
  font-size: 16px;
  font-family: Raleway, Balsamiq Sans, Permanent Marker;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  font-family: Montserrat;
  margin-top: -3%;
  margin-bottom: 2%;
}

.button {
  display: inline-block;
  border: none
}

.butn {
  color: white;
  background-color: var(--blue); 
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}

.butn:hover {
  background-color: white;
  color: var(--blue);
  border: none
}

.feed {
  align-items: center;
  place-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  transition: all 0.6s ease;  
}

.name {
  font-weight: bold;
  margin: 0;
  margin-bottom: 1.25rem;
}

.event-card {
  font-family: Raleway;
  margin: 30px;
  padding: 30px;
  background-color: var(--white);
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.20);
  border-radius: var(--button-radius);
  height: 300px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 60px);
}

.line {
  display: grid;
  grid-template-columns: 50% 50%;
}

.feed .btn {
  background-image: linear-gradient(to right, #1A2980, #26D0CE);
  border-radius: 20px;
  border: 0.2px solid var(--blue-r);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 20%;
  position: absolute;
  margin-left: 25%;
  bottom: 30px;
}

.feed .btn:active {
  transform: scale(0.95);
}

.feed .btn:focus {
  outline: none;
}

.disabled {
  text-decoration: none;
}


.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  height: 15%;
  max-height: 15%;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
}

.details {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: calc(20vh - 30px);
  right: calc(20vw - 30px);
  z-index: 9;
  transition: all 0.3s ease;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.dim {
  opacity:0.5;
}

.close-button {
  float: right;
}

#details-name {
  word-break: break-all;
  white-space: normal;
  margin-bottom: 20px;
}

.open-button {
  float: right;
  border: hidden;
  padding: 5px;
  border-radius: 15%;
  background-color: #dae6f2;
}