.account-heading {
  text-align: center;
  border: px solid green;
}

.events_info {
  align-items: center;
  place-items: center;
  float: left;
  width: 50%;
}

.card {
  font-family: Raleway;
  margin: 30px;
  padding: 30px;
  background-color: var(--white);
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.20);
  border-radius: var(--button-radius);
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 80%;
  margin-left: 8%;
}

.events_info .btn {
  background-image: linear-gradient(to left, #e66465, #9198e5);
  border-radius: 20px;
  border: 0.2px solid var(--blue-r);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 1.5rem;

  position: absolute;
  bottom: 30px;
}

.events_info .btn:active {
  transform: scale(0.95);
}

.events_info .btn:focus {
  outline: none;
}

.title {
  text-align: center;
}