:root {
    --white:  #e9e9e9;
    --gray:  #333;
    --black:  #000000;
    --blue-r: #315a7491;
    --lightblue: #0393a3;
    --gold:  #ffd700;
    --goldenrod:  #daa520;
    --darkgoldenrod:  #b8860b;
    --lightyellow: #fafad2;
}

.content-section {
  padding: 10px 20px;
  border: 2px solid var(--black);
  border-radius: 3px;
  margin-bottom: 20px;
}

.invalid-feedback {
    color: red;
}

.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 300px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

.align-right {
    float: right;
    width: 30%;
    text-align: center;
}
.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination li a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination .page-no-link.disabled{
    color: grey;
}

.pagination li a:hover:not(.active) {background-color: var(--blue-r); 
                                     color: white;}

.pagination a.page-link:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a.page-link:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text-bottom{
    position: relative;
}

.navbar {
    background-color: #061722;
    font-family: Raleway;
    border-radius: 0% !important;
    border-color: transparent !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.navbar-inverse .navbar-brand {
    color: white !important;
}

footer {
    margin-top: 20px;
    height: 50px;
    background-color: #061722;
    line-height: 50px;
    text-align: center;
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
