{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Events{% endblock %}

{% block page_content %}
<div class="page-header">
  {% if results %}
    <h1>Search Results</h1>
  {% else %}
    <h1>Events</h1>
    <button>
      <a href="{{ url_for('api.create') }}">Create an Event</a>
    </button>
    <button>
      <a href="{{ url_for('api.search') }}">Search</a>
    </button>
  {% endif %}
</div>

<div class="feed">
  {% for event in pagination.items[::1] %}
    <div class="event-card">
      <h2 class="name">
        {{event.name}}
      </h2>
      <p class="description">
        {{event.description}}
      </p>
      <div class="line">
        <div class="time">
          Time: {{event.time.strftime('%Y-%m-%d %H:%M')}}
        </div>
        <div class="creator">
          Created by: 
          <a href="{{ url_for('api.profile', username=event.creator) }}">{{event.creator}}</a>
        </div>
      </div>
      <div class="participants">
        {% if event.participants|length > 0 %}
          Participants:
          {% for participant in event.participants %}
            <a href="{{ url_for('api.profile', username=participant) }}">{{participant}}</a>
          {% endfor %}
        {% else %}
          No participants. Be the first to join this event!
        {% endif %}
      </div>
      {% set event_id = event.id|string() %}
      {% if event_id not in user.events_joined %}
        <form action="{{ url_for('api.join') }}" method="post">
          <input type="hidden" name="event_id" value={{ event_id|safe }}>
          <input class="btn" type="submit" name="form_data" value="Join">
        </form>
      {% else %}
        <form action="{{ url_for('api.leave') }}" method="post">
          <input type="hidden" name="event_id" value={{ event_id|safe }}>
          <input style="background-image: linear-gradient(to left, #e97777, #ceacb4);" class="btn" type="submit" name="form_data" value="Leave">
        </form>
      {% endif %}
    </div>
  {% endfor %}

  <div class="pagination">
    {% if not pagination.has_prev %}
      <li class="page-item disabled" href="#" >&laquo;</li>
      {% else %}
        <a class="page-item" href="{{url_for('api.feed', page=pagination.prev_num) }}">&laquo;</a>
    {% endif %}
    {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      <a class="page-link" href="{{url_for('api.feed', page=page_num) }}">{{ page_num }} </a>
    {% endfor %} 
    {% if not pagination.has_next %}
      <li class="page-item disabled" href="#" >&raquo;</li>
      {% else %}
        <a class="page-item" href="{{url_for('api.feed', page=pagination.next_num) }}"> 
          &raquo;
        </a>
    {% endif %}
  </div>
  <p class="text-bottom">
    Showing page {{ pagination.page }} of {{ pagination.pages }}
  </p>
</div>
{% endblock %}
