<!DOCTYPE html>
<html>
	<head>
		<title>Login & Sign Up Page</title>
		<meta charset="UTF-8">
		<meta name="description" content="This is the login and sign up page of UW Link">
		<meta name="author" content="Joyce Dai">

		<!--------------- main css ---------------->
		<link 
			rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_style.css') }}"/>
		<link 
			rel="stylesheet" 
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

	</head>

	<body style="background:url_for('static', filename='login-background.jpg');">
		<div class="panel right-active">

			<!--------------- sign up ---------------->
			<div class="panel_form signup">
				<form action="{{ url_for('api.signup') }}" class="form" id="form1" method="post">
					<h2 class="form_title">Sign Up</h2>
					<input type="text" placeholder="User" class="input" name="signupUser" required
						   pattern="[a-zA-Z0-9._].{1,64}" 
						   title="Usernames must have only letters, numbers, dots or underscores"/>
					<input type="email" placeholder="Email" class="input" name="signupEmail" required
						   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
						   title="Please enter a valid email address"/>
					<input type="password" placeholder="Password" class="input" name="signupPassword" required
						   pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}" 
						   title="Password must contain at least one  number and one letter, and at least 6 or more characters">
					<button type="submit" class="btn" form="form1">Sign Up</button>
				</form>
			</div>

			<!--------------- log in ---------------->
			<div class="panel_form login">
				<form action="{{ url_for('api.login') }}" class="form" id="form2" method="post">
				<h2 class="form_title">Log In</h2>
					<input type="text" placeholder="User" class="input" name="loginUser" required
					       pattern="[a-zA-Z0-9._].{1,64}" 
						   title="Usernames must have only letters, numbers, dots or underscores"/>
					<input type="password" placeholder="Password" class="input" name="loginPassword" required> 
					<a href="#" class="link">Forgot your password?</a>
					<button type="submit" class="btn" form="form2" >Log In</button>
				</form>
			</div>

			<!--------------- panel layers --------------->
			<div class="panel_layer">
				<div class="overlay">
					<div class="layer overlay-left">
						<button class="btn" id="login">Log In</button>
					</div>
					<div class="layer overlay-right">
						<button class="btn" id="signup">Sign Up</button>
					</div>
				</div>
			</div>
		</div>

		<script src="{{url_for('static', filename='script.js')}}"></script>

		<div class="flash_message">
  			{% for message in get_flashed_messages() %}
    			{{ message }}
  			{% endfor %} 
  		</div>
	</body>
</html>